.mt-bg-dark{
    /*background-color: rgb(34, 33, 33);
    color: white;
    background: linear-gradient(145deg, #3c3c3c, #323232);*/
    box-shadow:  0px 0px 0px #797979,
             0px 0px 0px black;
}
.mt-rnd{
    border-radius: 12px;
}
.no-underline:hover{
    text-decoration: none;
}
.no-underline{
    text-decoration: none;
}
.no-underline:link{
        text-decoration: none;

    }
.box{
position: absolute;
width:fit-content;
position: relative;
min-width: 200px ;
border: 1px #808080 solid ;
padding: 8px ;
z-index: 1 ;
}
